
.icon-up-open:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-emo-happy:before { content: '\e802'; } /* '' */
.icon-plus-circle:before { content: '\e803'; } /* '' */